<div>
  <app-navbar></app-navbar>
  <div class="container" [appCenterBox]>
    <div class="card ul-white-background shadow w-75 px-2 py-2">
      <div class="text-center">
        <h4 style="color: red">404 Not Found</h4>
      </div>
      <div class="text-center" style="color: grey">
        <p>The page you requested at <b>{{currentURL}}</b> could not be found. Check that you entered the URL correctly. If the URL is correct,
        please contact the Faculty of Science and Engineering Research Committee at <a [href]="'mailto:' + contactEmail">{{contactEmail}}</a> to
        notify the committee of the error.
        </p>
      </div>
      <div class="text-center" style="color: grey">
        <p>Thank You,<br>The Team</p>
        <a routerLink="/home">Home</a>
      </div>
    </div>
  </div>  
</div>>