<div class="modal" tabindex="-1" [id]="id">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Attachments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="text-end">
            <input type="file" class="d-none" (change)="attachFile($event)" #fileUpload [accept]="getFileAccept()">
            <button class="btn btn-sm btn-primary" type="button" (click)="fileUpload.click()" *ngIf="checkStatus('DRAFT') || checkStatus('REFERRED')">Attach File</button>
          </div>
          <div *ngIf="checkStatus('DRAFT') || checkStatus('REFERRED')" class="form-text text-end">
            {{getFileFormatsMessage()}}
          </div>
          <div>
            <div *ngIf="application?.attachedFiles?.length > 0; else noFiles">
              <div class="row m-2 p-2 overflow-auto w-100" *ngFor="let file of application?.attachedFiles">
                <div class="col">
                  <img style="width: 40px; height: 50px;" src="/assets/images/file-icon.png">
                </div>
                <div class="col my-auto">
                  <p class="hover-underline" (click)="downloadFile(file)">{{file.filename}}</p>
                </div>
                <div class="col my-auto text-center">
                  <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteFile(file)" *ngIf="checkStatus('DRAFT') || checkStatus('REFERRED')">Remove</button>
                </div>
              </div>
            </div>
            <ng-template #noFiles>
              <div class="text-center w-100">
                There are no files attached to this application
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <app-alert [hidden]="true" [dismissible]="true" #uploadProgress></app-alert>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
