<div>
  <app-navbar [hideLinks]="true"></app-navbar>
  <div class="container" [appCenterBox]>
    <app-alert *ngIf="initError" [alertType]="'alert-danger'" [message]="initError"></app-alert>
    <app-center-header *ngIf="!initError" [text]="'Confirm Account'"></app-center-header>
    <div *ngIf="!initError" class="card ul-white-background shadow w-50 padded-fields-box">
      <div *ngIf="useForm">
        <form [formGroup]="form">
          <div class="form-group">
            <label>E-mail Address:</label>
            <input name="email" type="email" class="form-control" formControlName="email">
            <div class="form-text">
              Enter your e-mail address (12345678@studentmail.ul.ie for students, john.doe@ul.ie for staff)
            </div>
          </div>
          <div class="form-group">
            <label>Confirmation Token:</label>
            <input name="token" type="text" class="form-control" formControlName="token">
            <div class="form-text">
              Enter the token provided in the e-mail
            </div>
          </div>
          <app-alert *ngIf="confirmError" [alertType]="'alert-danger'" [message]="confirmError" [dismissible]="true"></app-alert>
          <div class="text-end mt-2">
            <button type="button" (click)="confirm()" class="btn btn-primary w-25" style="margin-left: 3%" [disabled]="!form.valid">Confirm</button>
          </div>
        </form>
      </div>
      <div *ngIf="!useForm && confirmError">
        <app-alert [alertType]="'alert-danger'" [message]="confirmError"></app-alert>
      </div>
    </div>
  </div>
</div>