<div>
  <app-navbar [hideLinks]="true"></app-navbar>
  <div class="container" [appCenterBox]>
    <app-center-header *ngIf="!registeredNeedsConfirmation" [text]="'Create an Account'"></app-center-header>
    <app-center-header *ngIf="registeredNeedsConfirmation" [text]="'Registered Successfully'"></app-center-header>
    <div class="card ul-white-background shadow w-50 padded-fields-box">
      <div *ngIf="!registeredNeedsConfirmation">
        <form [formGroup]="form">
          <div class="form-group">
            <label>E-mail Address:</label>
            <input name="email" type="email" class="form-control" formControlName="email" [appTooltip]="registerTooltip">
            <app-field-error [condition]="email.errors?.['required'] && email.touched" [error]="'E-mail address is required'"></app-field-error>
            <app-field-error [condition]="email.errors?.['email'] && email.touched" [error]="'Invalid E-mail address'"></app-field-error>
            <app-field-error [condition]="email.errors?.['invalidEmail'] && email.touched" [error]="'The e-mail address needs to be a UL e-mail address'"></app-field-error>
            <div class="form-text render-new-lines">
              Enter your e-mail address (12345678@studentmail.ul.ie for students, john.doe@ul.ie for staff)
            </div>
          </div>
          <div class="row" formGroupName="passwordGroup">
            <div class="col form-group">
              <label>Password:</label>
              <input name="password" type="password" minlength="8" class="form-control" formControlName="password">
              <app-field-error [condition]="password.errors?.['required'] && password.touched" [error]="'Password is required'"></app-field-error>
              <app-field-error [condition]="password.value.length > 0 && password.value.length < 8 && password.touched" [error]="'Password must have at least 8 characters'"></app-field-error>
              <div class="form-text">
                Enter a password of at least 8 characters
              </div>
            </div>
            <div class="col form-group">
              <label>Confirm Password:</label>
              <input name="confirmPassword" type="password" minlength="8" class="form-control" formControlName="confirmPassword">
              <app-field-error [condition]="confirmPassword.errors?.['required'] && confirmPassword.touched" [error]="'Password Confirmation is required'"></app-field-error>
              <app-field-error [condition]="passwordGroup.errors?.['noMatch'] && (password.touched && confirmPassword.touched)" [error]="'Passwords must match'"></app-field-error>
              <div class="form-text">
                Re-enter your password to confirm it
              </div>
            </div>
          </div>
          <app-alert *ngIf="error" [alertType]="'alert-danger'" [dismissible]="true" [message]="error"></app-alert>
          <div class="text-end mt-2">
            <a routerLink="/login">Login</a> 
            <button type="button" (click)="register()" [disabled]="!form.valid" class="btn btn-primary w-25" style="margin-left: 3%">Register</button>
          </div>
        </form>
      </div>
      <div *ngIf="registeredNeedsConfirmation">
        <div class="text-center" style="color:grey">
          <p>Thank you for creating an account with the ethics application system. Your account is now registered. To confirm that it is in fact you, an e-mail has been sent
            to the e-mail address you used for registration. Follow the instructions in the e-mail to confirm your account. Once 
            confirmed, you will be able to create your user profile.</p>
          <p>If you didn't receive the email, login to your account from <a routerLink="/login">login</a> and click the resend e-mail link</p>
          <p>Thank You,<br>The Team</p>
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>