<div class="mt-2" *ngIf="!disable && application">
  <div class="card shadow p-2 mt-2" *ngIf="displayed">
    <div class="text-end">
      <button type="button" class="btn-close" (click)="toggleDisplayed(false)"></button>
    </div>
    <div *ngIf="application?.assignedCommitteeMembers?.length > 0; else noAssigned">
      <div class="d-flex flex-row flex-wrap">
        <div *ngFor="let assigned of application?.assignedCommitteeMembers">
          <div class="card p-2 m-2" style="width: 12rem;">
            <div class="card-header text-center">
              {{(assigned.finishReview) ? 'Review Finished':'Reviewing'}}
            </div>
            <div class="card-body text-center my-auto">
              <h6 class="card-title hover-underline" (click)="navigateUser(assigned.user)">{{assigned.user.name}}</h6>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="unassignUser(assigned)" *ngIf="isAdmin">Unassign</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noAssigned>
      <div class="text-center w-100">
        <p>There are currently no assigned committee members</p>
      </div>
    </ng-template>
    <div *ngIf="isAdmin && (checkStatus('REVIEW') || checkStatus('RESUBMITTED'))">
      <div *ngIf="committeeMembers as members">
        <div class="p-2 my-2">
          <h6>Assign Committee Member</h6>
          <form [formGroup]="assignForm">
            <div class="form-group">
              <label>Committee Member:</label>
              <select class="form-select" formControlName="member" [appTooltip]="'Choose the committee member to assign to the application'" size="3" multiple>
                <option *ngFor="let member of members" [value]="member.user.username">
                  {{member.user.name + ' - ' + member.user.username + ((member.previouslyAssigned) ? ' (Previously Assigned)':'')}}</option>
              </select>
              <app-field-error [condition]="assignForm.get('member')?.errors?.['required'] && assignForm.get('member').touched" [error]="'This field is required'"></app-field-error>
              <div class="form-text">
                Choose the committee member(s) to assign to the application
              </div>
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-primary" (click)="assignMember()" [disabled]="!assignForm.valid">Assign</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <app-alert [hidden]="true" [dismissible]="true" #assignAlert></app-alert>
  </div>
</div>
