<div [ngClass]="sectionClass" [id]="component?.componentId">
    <hr *ngIf="subSection" class="my-2 ml-2">
    <h5>{{component?.title}}</h5>
    <p [innerHTML]="castComponent()?.description"></p>
    <ng-template componentHost [hostId]="component?.componentId"></ng-template>
    <div class="mt-2">
        <app-alert #autoSaveAlert [alertType]="'alert-success'" [message]="'Section automatically saved'"
        [dismissible]="true" [hidden]="true" class="text-center"></app-alert>
    </div>
</div>
