<div [ngClass]="sectionClass" [id]="component?.componentId">
    <hr *ngIf="subSection" class="my-2 ml-2">
    <div *ngIf="!subSection" class="card-header text-center">
       <h5>{{component?.title}}</h5>
    </div>
    <div *ngIf="subSection">
        <h5>{{component?.title}}</h5>
    </div>
    <p class="render-new-lines">{{castComponent()?.description}}</p>
    <ng-template componentHost [hostId]="component?.componentId"></ng-template>
    <div class="mt-2" *ngIf="!subSection">
        <app-alert #autoSaveAlert [alertType]="'alert-success'" [message]="'Section automatically saved'"
        [dismissible]="true" [hidden]="true" class="text-center"></app-alert>
    </div>
</div>
