<div>
  <app-navbar></app-navbar> 
  <div *ngIf="!loadError; else displayError">
    <div *ngIf="application && viewingUser; else loading" class="container">
      <div *ngIf="isAdmin || canReview; else notAdmin" class="mt-5">
        <h5 style="color: white">Actions</h5>
        <div class="card shadow p-2">
          <div class="d-inline text-end">
            <button type="button" class="btn btn-danger ml-2" *ngIf="isAdmin && !newApplication" (click)="deleteApplication(true)">Delete</button>
            <button type="button" class="btn btn-primary ml-2" *ngIf="checkStatus('REVIEW') || checkStatus('REVIEWED')" (click)="assignedUsers?.toggleDisplayed()"
             [disabled]="assignedUsers?.acceptReferredAssign && assignedUsers?.displayed">Assigned Reviewers</button>
            <button type="button" class="btn btn-primary ml-2" *ngIf="displayReviewButton() && (checkStatus('SUBMITTED') || checkStatus('REVIEW') || checkStatus('REVIEWED'))" (click)="markReviewed()">{{checkStatus('REVIEW') ? 'Finish Review':'Review'}}</button>
            <button type="button" class="btn btn-primary ml-2" *ngIf="isAdmin && checkStatus('REVIEWED')" (click)="referApplication()" 
              [disabled]="application?.editableFields && application?.editableFields.length == 0">Refer to Applicant</button>
            <button type="button" class="btn btn-primary ml-2" *ngIf="isAdmin && checkStatus('RESUBMITTED')" (click)="acceptReferred()" [appTooltip]="'Re-assign the application to reviewers and move it to In Review'">Reassign</button>
            <button type="button" class="btn btn-danger ml-2" *ngIf="isAdmin && checkStatus('REVIEWED')" (click)="toggleFinalCommentForm(false)">Reject</button>
            <button type="button" class="btn btn-success ml-2" *ngIf="isAdmin && checkStatus('REVIEWED')" (click)="toggleFinalCommentForm(true)">Approve</button>
          </div>
        </div>
      </div>
      <ng-template #notAdmin>
        <div class="mt-5" *ngIf="(checkStatus('DRAFT') && !newApplication) || (!checkStatus('DRAFT') && viewingUser?.reviewer)">
          <h4 style="color: white">Actions</h4>
          <div class="card shadow p-2">
            <div class="d-inline text-end">
              <button type="button" class="btn btn-danger" *ngIf="checkStatus('DRAFT') && !newApplication" (click)="deleteApplication(false)">Delete</button>
              <button type="button" class="btn btn-primary ml-2" *ngIf="viewingUser?.reviewer && !checkStatus('DRAFT')" (click)="assignedUsers.toggleDisplayed()">Assigned Reviewers</button>
            </div>
          </div>
        </div>
      </ng-template>
      <app-assigned-users [application]="application" [viewingUser]="viewingUser" #assignedUsers *ngIf="viewingUser?.reviewer"
        (assignedUsers)="acceptAssignedUsers($event)" (unassigned)="memberUnassigned($event)"></app-assigned-users>
      <div class="card shadow p-2" *ngIf="isAdmin && checkStatus('REVIEWED') && finalCommentFormDisplayed">
        <form [formGroup]="finalCommentForm">
          <div class="text-end">
            <button type="button" class="btn-close" (click)="toggleFinalCommentForm(undefined, false)"></button>
          </div>
          <div class="form-group">
            <label>Comment:</label>
            <textarea name="comment" class="form-control" formControlName="comment" [value]="application?.finalComment"></textarea>
            <app-field-error [condition]="finalCommentForm.get('comment').errors?.['required'] && finalCommentForm.get('comment').touched" [error]="'Field is required'"></app-field-error>
            <div class="form-text">
              Enter the final comment to leave on the aplication outlining the approval decision. {{(finalCommentFormApproval) ? 'Optional.' : 'Required.'}}
            </div>
          </div>
          <div class="text-end">
            <button type="button" [ngClass]="(finalCommentFormApproval) ? 'btn btn-success':'btn btn-danger'" 
              (click)="(finalCommentFormApproval) ? approveApplication():rejectApplication()" [disabled]="!finalCommentForm.valid">{{(finalCommentFormApproval) ? 'Approve':'Reject'}}</button>
          </div>
        </form>
      </div>
      <app-alert #actionAlert [alertType]="'alert-success'" [dismissible]="true" [hidden]="true" class="text-center"></app-alert>
      <app-alert *ngIf="actionError" [alertType]="'alert-danger'" [dismissible]="true" [message]="actionError"></app-alert>
      <div class="text-end" *ngIf="actionRetryCallback">
        <button class="btn btn-primary" type="button" (click)="actionRetryCallback()">Retry?</button>
      </div>
      <app-attachments [applicationDisplay]="this" #applicationAttachments></app-attachments>
      <div class="card shadow text-center mt-3 p-3">
        <div class="card-header">
         <h4>{{application?.applicationId}}</h4>
        </div>
        <div class="card-body">
          <div class="">
            <p class="application-text"><b>Applicant:</b><span class="hover-underline" (click)="navigateToUser(application?.user?.username)"> {{application?.user?.name}}</span></p>
            <p class="application-text" *ngIf="getStatus() as status" [appTooltip]="statusDescriptions[status]"><b>Application Status:</b> {{status}}</p>
            <p class="application-text" *ngIf="isReferred()"><b>Referred By:</b> <span (click)="navigateToUser(application?.referredBy?.username)" class="hover-underline">
              {{application?.referredBy?.name}} </span>
            </p>
          </div>
        </div>
        <div class="card-footer text-muted">
          <div *ngIf="checkStatus('APPROVED')" class="d-inline-flex">
            <p *ngIf="application?.approvalTime" class="application-text" style="margin-right: 5px;"><b>Approved At:</b> {{formatDate(application?.approvalTime)}}</p>
            <p class="application-text"><b>Last Updated:</b> {{formatDate(application?.lastUpdated)}}</p>
          </div>
          <div *ngIf="checkStatus('REJECTED') || checkStatus('REFERRED')" class="d-inline-flex">
            <p class="application-text"><b>Last Updated:</b> {{formatDate(application?.lastUpdated)}}</p>
          </div>
          <div *ngIf="!checkStatus('APPROVED') && !checkStatus('REJECTED') && !checkStatus('REFERRED')" class="d-inline-flex">
            <p *ngIf="application?.submittedTime" class="application-text" style="margin-right: 5px;"><b>Submitted At:</b> {{formatDate(application?.submittedTime)}}</p>
            <p class="application-text"><b>Last Updated:</b> {{formatDate(application?.lastUpdated)}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="application?.finalComment" class="mt-3">
        <h4 style="color: white">Final Comment</h4>
        <div class="card shadow">
          <app-comment-display [application]="application" [border]="false" [comment]="application?.finalComment" [approvalComment]="true"></app-comment-display>
        </div>
      </div>
      <app-center-header [text]="'Application Form'"></app-center-header>
      <app-application-template-display [application]="application" (questionChange)="questionChange($event)" (autoSave)="autoSave($event)"
      (terminate)="terminateApplication($event)" (attachFile)="attachFile($event)" [viewingUser]="viewingUser" (autofilled)="autofillNotified($event)" 
      #templateView></app-application-template-display>
      <app-alert #saveAlert [alertType]="'alert-success'" [message]="'Saved'" [dismissible]="true" [hidden]="true" class="text-center"></app-alert>
      <app-alert #saveErrorAlert [alertType]="'alert-danger'" [message]="saveError" [dismissible]="true" [hidden]="true"></app-alert>
      <div class="card shadow px-3 py-2" *ngIf="showSaveSubmitButton()">
        <div class="d-inline text-end">
          <div style="display: inline-block;" [appTooltip]="(newApplication) ? 'Click Save before obtaining of this functionality' : 'Request the answers from the selected users'">
            <button type="button" class="btn btn-secondary" (click)="submitRequests()" *ngIf="templateView.getRequestedAnswers().length > 0" [disabled]="this.newApplication">Request Answers</button>
          </div>
          <button type="button" class="btn btn-secondary margin-left-1" (click)="save()">Save</button>
          <button type="button" class="btn btn-primary margin-left-1" [disabled]="!templateView?.form.valid" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template> 
  </div>
  <ng-template #displayError>
    <div class="container">
      <app-alert [alertType]="'alert-danger'" [message]="loadError"></app-alert>
    </div>
  </ng-template>
</div>
