<div>
  <app-navbar></app-navbar>
  <div *ngIf="!error; else displayError">
    <div class="container">
      <div *ngIf="userPermissions?.createApplication">
        <div class="row mt-2">
          <div class="text-end">
            <button type="button" class="btn btn-primary" (click)="toggleNewApp()">Create Application</button>
          </div>
        </div>
        <div class="card shadow mt-2 p-2" *ngIf="displayNewApp">
          <div class="text-end">
            <button type="button" class="btn-close" (click)="closeNewApp()"></button>
          </div>
          <form [formGroup]="newAppForm">
            <div class="form-group">
              <label>Application:</label>
              <select class="form-select" formControlName="template" (change)="onChange($event)" [appTooltip]="'Leave blank if you\'re unsure which type to create'">
                <option *ngFor="let option of templateOptions" [value]="option.value">{{option.label}}</option>
              </select>
              <div class="form-text">
                Choose the application to create
              </div>
            </div>
            <div *ngIf="chosenTemplate" class="mt-2">
              <h6 style="color: gray;">{{chosenTemplate.name}}</h6>
              <p class="render-new-lines">{{chosenTemplate?.description}}</p>
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-primary" (click)="createNewApplication()">Create</button>
            </div>
          </form>
        </div>
      </div>
      <app-application-results *ngIf="userPermissions" [permissions]="userPermissions" (error)="unknownError($event)"></app-application-results>
    </div>
  </div>
  <ng-template #displayError>
    <div class="container">
      <app-alert [alertType]="'alert-danger'" [message]="error"></app-alert>
    </div>
  </ng-template>
</div>