<div>
  <app-navbar></app-navbar>
  <div *ngIf="!error; else displayError">
    <div class="container">
      <div *ngIf="userPermissions?.createApplication">
        <div class="row mt-2">
          <div class="text-end">
            <button type="button" class="btn btn-primary" (click)="toggleNewApp()">Create Application</button>
          </div>
        </div>
        <div class="card shadow mt-2 p-2" *ngIf="displayNewApp">
          <div class="text-end">
            <button type="button" class="btn-close" (click)="closeNewApp()"></button>
          </div>
          <form [formGroup]="newAppForm">
            <div class="form-group">
              <label>Application:</label>
              <select class="form-select" formControlName="template" [appTooltip]="'Leave blank if you\'re unsure which type to create'">
                <option></option>
                <option *ngFor="let option of templateOptions" [value]="option.value">{{option.label}}</option>
              </select>
              <div class="form-text">
                Choose the application to create
              </div>
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-primary" (click)="createNewApplication()">Create</button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <h4 style="color: white">Search</h4>
        <app-application-search #applicationSearch></app-application-search>
        <app-alert #searchError [hidden]="true" [alertType]="'alert-danger'" [dismissible]="true"></app-alert>
      </div>
      <div>
        <h4 style="color: white">Applications</h4>
        <div class="card shadow p-2 d-flex flex-row" *ngIf="applications | async as list">
          <div *ngIf="list.length > 0; else noApplications">
            <div *ngFor="let application of list; let i = index">
              <!-- <hr *ngIf="i > 0" class="my-3">
              <div class="row">
                <div class="col">
                  <h4>{{application.id}}</h4>
                </div>
                <div class="col text-center my-auto">
                  <h6>Status</h6>
                  <p class="form-text">{{mapStatus(application.status)}}</p>
                </div>
                <div class="col">
                  <a class="btn btn-link" [routerLink]="['/application']" [queryParams]="{id: application.id}">Open</a>
                </div>
              </div> -->
              <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{application.id}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{mapStatus(application.status)}}</h6>
                  <p class="card-text">{{lastUpdated(application.lastUpdated)}}</p>
                  <a [routerLink]="['/application']" [queryParams]="{id: application.id}">Open</a>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noApplications>
            <div class="text-center">
              There are no applications available to view
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <ng-template #displayError>
    <div class="container">
      <app-alert [alertType]="'alert-danger'" [message]="error"></app-alert>
    </div>
  </ng-template>
</div>