<div [id]="multipartQuestion?.componentId" [formGroup]="group">
    <label>{{multipartQuestion?.title}}</label>
    <div [id]="multipartQuestion?.componentId + '-parts'">
        <div *ngFor="let part of getParts()">
            <!-- <div *ngIf="!directivesLoaded || displayedParts[part?.partName]">
                If the directives have not been bound yet, just display the component anyway so that the componentHost element can be bound to
                <ng-template componentHost [hostId]="part?.question?.componentId" (questionChange)="onInput($event, part?.partName)"></ng-template>
            </div> 
            TODO the way this is if ngIf is false, the component gets destroyed and needs to be created again, d-none might be better as below, still in the dom but not visible
            -->
            <div *ngClass="(displayedParts[part?.partName]) ? 'd-none':''">
                <ng-template componentHost [hostId]="part?.question?.componentId" (questionChange)="onInput($event, part?.partName)"></ng-template>
            </div>
        </div>
    </div>
</div>
