<div class="form-group" [id]="questionComponent?.componentId" [formGroup]="form" (window:resize)="sizeChange()">
    <label>{{questionComponent?.title}}</label>
    <div class="form-text">
        {{questionComponent?.description}}
    </div>
    <div #signatureContainer class="row">
        <div class="col-2">
            <label>{{questionComponent?.label}}</label>
        </div>
        <div class="col-10">
            <signature-field #signature [formControlName]="questionComponent?.name" (signatureEntered)="signatureEntered($event)"></signature-field>
        </div>
    </div>
</div>