<div [ngClass]="visible ? 'question-spacing':''" [id]="questionComponent?.componentId" [formGroup]="checkboxGroup" *ngIf="display()">
    <app-request-component-answer [component]="this" [context]="context"></app-request-component-answer>
    <app-refer-marker [viewingUser]="context?.viewingUser" [application]="application" [component]="this" [enable]="visible"></app-refer-marker>
    <app-required-indicator [component]="this"></app-required-indicator>
    <div *ngIf="edit()">
        <label>{{questionComponent?.title}}</label>
        <div class="form-text render-new-lines">{{questionComponent?.description}}</div>
        <div [id]="questionComponent?.componentId + '-checkboxes'">
            <div *ngFor="let checkbox of getCheckboxes()" [ngClass]="checkClass">
                <input type="checkbox" class="form-check-input" [value]="checkbox?.identifier" (change)="onCheckChange($event)" 
                [name]="checkbox?.identifier" [checked]="selectedCheckboxes[checkbox?.identifier]" [formControlName]="checkbox?.identifier">
                <label class="form-check-label">{{checkbox?.title}}</label>
            </div>
        </div>
        <app-field-error [condition]="checkboxGroup?.errors?.['required']" [error]="'This field is required'"></app-field-error>
    </div>
    <app-answer-view [question]="this" [answer]="application?.answers?.[questionComponent?.componentId]"></app-answer-view>
    <app-comments-display [application]="application" [component]="this" [viewingUser]="context?.viewingUser" [enable]="visible"></app-comments-display>
</div>
