<div [id]="questionComponent?.componentId" [formGroup]="form" *ngIf="display()">
    <app-refer-marker [viewingUser]="template?.viewingUser" [application]="application" [component]="questionComponent"></app-refer-marker>
    <div *ngIf="edit(); else notEdit">
        <label>{{questionComponent?.title}}</label>
        <div class="form-text" [innerHTML]="questionComponent?.description"></div>
        <div [id]="questionComponent?.componentId + '-checkboxes'">
            <div *ngFor="let checkbox of getCheckboxes()" [ngClass]="checkClass">
                <input type="checkbox" class="form-check-input" [value]="checkbox?.identifier" (change)="onCheckChange($event)" 
                [name]="checkbox?.identifier" [checked]="selectedCheckboxes[checkbox?.identifier]">
                <label class="form-check-label">{{checkbox?.title}}</label>
            </div>
        </div>
        <app-field-error [condition]="checkboxGroup?.errors?.['required']" [error]="'This field is required'"></app-field-error>
    </div>
    <ng-template #notEdit>
        <app-answer-view *ngIf="displayAnswer()"
            [question]="questionComponent" [answer]="application?.answers?.[questionComponent?.componentId]"></app-answer-view>
    </ng-template>
    <app-comments-display [application]="application" [component]="this"></app-comments-display>
</div>
