<div>
  <app-navbar [hideLinks]="true"></app-navbar>
  <div *ngIf="!loadError; else errorDisplay">
    <div class="container" [appCenterBox]>
      <app-center-header [text]="'Reset Password'"></app-center-header>
      <div class="card ul-white-background shadow w-50 padded-fields-box">
        <form [formGroup]="form">
          <div class="text-center">
            <p>Use this form to enter the new password for your account</p>
          </div>
          <div class="row">
            <div class="col form-group">
              <label>Password:</label>
              <input name="password" type="password" minlength="8" class="form-control" formControlName="password">
              <app-field-error [condition]="password.errors?.['required'] && password.touched" [error]="'Password is required'"></app-field-error>
              <app-field-error [condition]="password.value.length > 0 && password.value.length < 8 && password.touched" [error]="'Password must have at least 8 characters'"></app-field-error>
              <div class="form-text">
                Enter a password of at least 8 characters
              </div>
            </div>
            <div class="col form-group">
              <label>Confirm Password:</label>
              <input name="confirmPassword" type="password" minlength="8" class="form-control" formControlName="confirmPassword">
              <app-field-error [condition]="confirmPassword.errors?.['required'] && confirmPassword.touched" [error]="'Password Confirmation is required'"></app-field-error>
              <app-field-error [condition]="form.errors?.['noMatch'] && (password.touched && confirmPassword.touched)" [error]="'Passwords must match'"></app-field-error>
              <div class="form-text">
                Re-enter your password to confirm it
              </div>
            </div>
          </div>
          <app-alert [hidden]="true" [alertType]="'alert-danger'" [dismissible]="true" #submitError></app-alert>
          <div class="row">
            <div class="text-end mt-2">
              <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!form.valid">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #errorDisplay>
    <div class="container" [appCenterBox]>
      <app-alert [dismissible]="false" [message]="loadError" [alertType]="'alert-danger'"></app-alert>
    </div>
  </ng-template>
</div>