<div [id]="questionComponent?.componentId" [formGroup]="form" *ngIf="display()">
    <app-refer-marker [viewingUser]="template?.viewingUser" [application]="application" [component]="questionComponent"></app-refer-marker>
    <div *ngIf="edit(); else notEdit">
        <label>{{questionComponent?.title}}</label>
        <div class="form-text" [innerHTML]="questionComponent?.description"></div>
        <div [id]="questionComponent?.componentId + '-radios'" class="row">
            <div [ngClass]="(questionComponent?.inline) ? '':'col-2'">
                <div *ngFor="let radio of getRadios()" [ngClass]="radioClass">
                    <input type="radio" class="form-check-input" [value]="radio?.value" (change)="onCheckChange($event)" 
                    [name]="component?.name" [checked]="radio?.value === selectedRadioValue">
                    <label class="form-check-label">{{radio?.title}}</label>
                </div>
            </div>
            <div [ngClass]="(questionComponent?.inline) ? 'col-10' + 'w-25 my-auto' : 'w-25 my-auto'">
                <button type="button" class="btn btn-link" (click)="resetSelection()" [appTooltip]="'Clears the selected option'">Reset</button>
            </div>
        </div>
        <app-field-error [condition]="radioArray?.errors?.['required']" [error]="'This field is required'"></app-field-error>
    </div>
    <ng-template #notEdit>
        <app-answer-view *ngIf="questionComponent?.componentId in application?.answers"
            [question]="questionComponent" [answer]="application?.answers?.[questionComponent?.componentId]"></app-answer-view>
    </ng-template>
</div>
