<div [ngClass]="visible ? 'question-spacing':''" [id]="questionComponent?.componentId" [formGroup]="form" *ngIf="display()">
    <app-request-component-answer [component]="this" [context]="context"></app-request-component-answer>
    <app-refer-marker [viewingUser]="context?.viewingUser" [application]="application" [component]="this" [enable]="visible"></app-refer-marker>
    <app-required-indicator [component]="this"></app-required-indicator>
    <div *ngIf="edit()">
        <label>{{questionComponent?.title}}</label>
        <div class="form-text render-new-lines">{{questionComponent?.description}}</div>
        <div [id]="questionComponent?.componentId + '-radios'" class="row">
            <div [ngClass]="(questionComponent?.inline) ? '':'col'">
                <div *ngFor="let radio of getRadios()" [ngClass]="radioClass">
                    <input type="radio" class="form-check-input" [value]="radio?.value" (change)="onCheckChange($event)" 
                    [name]="component?.name" [checked]="radio?.value === selectedRadioValue" [attr.disabled]="(disableRadios) ? true : null">
                    <label class="form-check-label">{{radio?.title}}</label>
                </div>
            </div>
        </div>
        <app-field-error [condition]="radioGroup?.errors?.['required']" [error]="'This field is required'"></app-field-error>
    </div>
    <app-answer-view [question]="this" [answer]="application?.answers?.[questionComponent?.componentId]"></app-answer-view>
    <app-comments-display [application]="application" [component]="this" [viewingUser]="context?.viewingUser" [enable]="visible"></app-comments-display>
</div>
