<div [ngClass]="visible ? 'question-spacing':''" [id]="checkboxGroupComponent?.componentId" [formGroup]="checkboxGroup" *ngIf="display()">
    <app-refer-marker [viewingUser]="context?.viewingUser" [application]="application" [component]="this" [enable]="visible"></app-refer-marker>
    <app-required-indicator [component]="this"></app-required-indicator>
    <label>{{checkboxGroupComponent?.title}}</label>
    <div [id]="checkboxGroupComponent?.componentId + '-checkboxes'">
        <div *ngFor="let checkbox of checkboxGroupComponent?.checkboxes" class="form-check">
            <label class="form-check-label">{{checkbox.title}}</label>
            <input type="checkbox" class="form-check-input" [value]="checkbox.identifier" (change)="onCheckChange($event, checkbox.identifier)" 
            [name]="checkbox.identifier" [checked]="isChecked(checkbox.identifier)" [formControlName]="checkbox.identifier">
        </div>
        <app-field-error [condition]="checkboxGroup?.errors?.['required']" [error]="'This field is required'"></app-field-error>
    </div>
    <app-alert #error [hidden]="true" [alertType]="'alert-danger'" [dismissible]="true"></app-alert>
    <app-alert #attachFileAlert [hidden]="true" [dismissible]="true"></app-alert>
    <app-comments-display [application]="application" [component]="this" [viewingUser]="context?.viewingUser" [enable]="visible"></app-comments-display>
</div>