<div class="form-group" [id]="checkboxGroupComponent?.componentId" [formGroup]="form" *ngIf="display">
    <label>{{checkboxGroupComponent?.title}}</label>
    <div [id]="checkboxGroupComponent?.componentId + '-checkboxes'">
        <div *ngFor="let checkbox of checkboxGroupComponent?.checkboxes" class="form-check">
            <label class="form-check-label">{{checkbox?.title}}</label>
            <input type="checkbox" class="form-check-input" [value]="checkbox?.identifier" (change)="onCheckChange($event, checkbox?.identifier)" 
            [name]="checkbox?.name" [checked]="selectedCheckboxes[checkbox?.identifier]" [disabled]="!edit()">
        </div>
    </div>
</div>