<div *ngIf="display">
  <div *ngIf="comment" [ngClass]="(!parentComment) ?  ((border) ? 'border p-2 mt-1':'p-2 mt-1'):'tab p-2 mt-1'">
    <div class="my-1">
      <div class="d-flex flex-row">
        <h6 class="my-auto hover-underline" (click)="navigateUser(userInfo?.username)" style="margin-right: 1%;">{{userInfo?.name}}</h6>
        <small class="form-text my-auto">{{formatDate(comment?.createdAt)}}</small>
      </div>
      <div class="mt-1">
        <div *ngIf="!editDisplayed; else doEdit">
          <p class="render-new-lines">{{comment?.comment}}</p>
          <div class="d-inline">
            <div class="text-end" *ngIf="allowEdit">
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteComment()">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-primary" style="margin-left: 1%;" (click)="toggleEditComment()">Edit</button>
            </div>
          </div>
          <div class="mt-2" *ngIf="deleteConfirmDisplayed">
            <div class="text-end">
              <button type="button" class="btn-close" (click)="deleteComment()"></button>
            </div>
            <p style="color: gray">Are you sure that you want to delete this comment?</p>
            <div class="d-inline">
              <div class="text-end">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteComment()">Cancel</button>
                <button type="button" class="btn btn-sm btn-danger" style="margin-left: 1%;" (click)="deleteComment(true)">Confirm</button>
              </div>
            </div>
          </div>
        </div>
        <ng-template #doEdit>
          <form [formGroup]="editCommentForm">
            <div class="form-group mb-2">
              <textarea name="comment" formControlName="comment" class="form-control" [appTooltip]="'Enter the comment to leave on the answer'"></textarea>
            </div>
            <div *ngIf="!parentComment">
              <div class="form-check" *ngIf="viewingUser?.admin">
                <input class="form-check-input" type="checkbox" value="true" name="sharedApplicant" formControlName="sharedApplicant">
                <label class="form-check-label" [appTooltip]="'Check this to make the comment visible to the applicant'">
                  Shared with applicant
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="sharedReviewer" formControlName="sharedReviewer">
                <label class="form-check-label" [appTooltip]="'Check this to make the comment visible to all reviewers and not just Chair/Administrator'">
                  Shared with all reviewers
                </label>
              </div>
            </div>
          </form>
          <div class="d-inline">
            <div class="text-end">
              <button type="button" class="btn btn-link" (click)="toggleEditComment(false)">Cancel</button>
              <button type="button" class="btn btn-primary" style="margin-left: 1%" (click)="editComment()">Edit</button>
            </div>
          </div>
        </ng-template>
        <app-alert #editAlert [hidden]="true" [dismissible]="true"></app-alert> 
        <div class="d-inline" *ngIf="viewingUser?.reviewer">
          <small class="form-text" *ngIf="sharedApplicant" [appTooltip]="'Comment is visible to the applicant'">
            Shared with applicant
          </small>
          <small [ngClass]="'form-text' + ((sharedApplicant) ? ' margin-left-1':'')" *ngIf="sharedReviewer" [appTooltip]="'Comment is visible to all reviewers'">
            Shared with all reviewers
          </small>
        </div>
      </div>
    </div>
    <div [id]="component?.component?.componentId + '-subcomments'">
      <app-comment-display *ngFor="let sub of comment.subComments" [comment]="sub" [parentComment]="this" [application]="application" [component]="component" [hostDisplay]="hostDisplay"></app-comment-display>
    </div>
    <div *ngIf="!approvalComment && !parentComment && replyComment && comment.id" class="mt-2">
      <div class="text-start">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="toggleSubCommentForm()">Reply</button>
      </div>
      <div *ngIf="subCommentFormDisplayed">
        <form [formGroup]="subCommentForm">
          <small class="form-text" *ngIf="sharedApplicant">
            This comment is shared with the applicant, any replies will be visible to them
          </small>
          <div class="form-group">
            <label>Comment:</label>
            <textarea name="comment" formControlName="comment" class="form-control" [appTooltip]="'Enter the comment to leave on the answer'"></textarea>
            <app-field-error [condition]="subCommentForm.get('comment').errors?.['required'] && subCommentForm.get('comment').touched" [error]="'This field is required'"></app-field-error>
            <div class="form-text">
              Enter the reply
            </div>
          </div>
          <app-alert #addSubAlert [hidden]="true" [dismissible]="true"></app-alert> 
          <div class="text-end">
            <button type="button" class="btn btn-primary" (click)="addSubComment()" [disabled]="!subCommentForm.valid">Reply</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
