<div *ngIf="display">
  <div *ngIf="comment" [ngClass]="(!parentComment) ?  ((border) ? 'border p-2 mt-1':'p-2 mt-1'):'tab p-2 mt-1'">
    <div class="my-1">
      <div class="d-flex flex-row">
        <h6 class="my-auto hover-underline" (click)="navigateUser(userInfo?.user?.username)" style="margin-right: 1%;">{{userInfo?.name}}</h6>
        <small class="form-text my-auto">{{formatDate(comment?.createdAt)}}</small>
      </div>
      <div class="mt-1">
        <p class="text">{{comment?.comment}}</p>
      </div>
    </div>
    <div [id]="component?.component?.componentId + '-subcomments'">
      <app-comment-display *ngFor="let sub of comment.subComments" [comment]="sub" [parentComment]="this" [application]="application" [component]="component" [hostDisplay]="hostDisplay"></app-comment-display>
    </div>
    <div *ngIf="!approvalComment && !parentComment && replyComment" class="mt-2">
      <div class="text-start">
        <button type="button" class="btn btn-outline-primary" (click)="toggleSubCommentForm()">Reply</button>
      </div>
      <div *ngIf="subCommentFormDisplayed">
        <form [formGroup]="subCommentForm">
          <div class="form-group">
            <label>Comment:</label>
            <textarea name="comment" formControlName="comment" class="form-control" [appTooltip]="'Enter the comment to leave on the answer'"></textarea>
            <app-field-error [condition]="subCommentForm.get('comment').errors?.['required'] && subCommentForm.get('comment').touched" [error]="'This field is required'"></app-field-error>
            <div class="form-text">
              Enter the reply
            </div>
          </div>
          <app-alert #addSubAlert [hidden]="true" [dismissible]="true"></app-alert> 
          <div class="text-end">
            <button type="button" class="btn btn-primary" (click)="addSubComment()" [disabled]="!subCommentForm.valid">Reply</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
