<div [ngClass]="'form-group' + (visible ? ' question-spacing':'') + (display() ? '':' d-none')" [id]="questionComponent?.componentId" [formGroup]="form">
    <app-request-component-answer [component]="this" [context]="context"></app-request-component-answer>
    <app-refer-marker [viewingUser]="context?.viewingUser" [application]="application" [component]="this" [enable]="visible"></app-refer-marker>
    <app-required-indicator [component]="this"></app-required-indicator>
    <div *ngIf="edit()">
        <label>{{questionComponent?.title}}</label>
        <div class="form-text render-new-lines">{{questionComponent?.description}}</div>
        <div *ngIf="questionComponent?.singleLine">
            <input [type]="questionComponent?.questionType" [name]="questionComponent?.name" (change)="onChange()" class="form-control"
            [formControlName]="questionComponent?.name">
        </div>
        <div *ngIf="!questionComponent?.singleLine">
            <textarea [name]="questionComponent?.name" class="form-control" (change)="onChange()" [formControlName]="questionComponent?.name"></textarea>
        </div>
        <app-field-error [condition]="control?.errors?.['required'] && control?.touched" [error]="'This field is required'"></app-field-error>
        <app-field-error [condition]="control?.errors?.['email'] && control?.touched" [error]="'Please enter a valid e-mail address'"></app-field-error>
    </div>
    <app-answer-view [question]="this" [answer]="application?.answers?.[questionComponent?.componentId]"
        [renderer]="(questionComponent?.questionType == 'date') ? 'date':'same'"></app-answer-view>
    <app-comments-display [application]="application" [component]="this" [viewingUser]="context?.viewingUser" [enable]="visible"></app-comments-display>
</div>
