<div class="form-group" [id]="questionComponent?.componentId" [formGroup]="form">
    <label>{{questionComponent?.title}}</label>
    <div class="form-text">
        {{questionComponent?.description}}
    </div>
    <div *ngIf="questionComponent?.singleLine">
        <input [type]="questionComponent?.questionType" [name]="questionComponent?.name" (change)="onChange()" class="form-control" [formControlName]="questionComponent?.name">
    </div>
    <div *ngIf="!questionComponent?.singleLine">
        <textarea [name]="questionComponent?.name" class="form-control" (change)="onChange()" [formControlName]="questionComponent?.name"></textarea>
    </div>
    <app-field-error [condition]="control.errors?.['required'] && control.touched" [error]="'This field is required'"></app-field-error>
    <app-field-error [condition]="control.errors?.['email'] && control.touched" [error]="'Please enter a valid e-mail address'"></app-field-error>
</div>
