
<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        {{content}}
        <div class="text-center" *ngIf="redirectLink">
            <div *ngIf="redirectText">
                <button class="btn btn-link" (click)="redirect()">{{redirectText}}</button>
            </div>
            <div *ngIf="!redirectText">
                <button class="btn btn-link" (click)="aredirect()">{{redirectLink}}</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Ok</button>
    </div>
</div>