/*
This class represents the styling for UL's dark green background
*/
.ul-dark-green-background {
	background-color: #005844;
}

/*
This class represents the styling for UL's white background
*/
.ul-white-background {
	background-color: white;
}

/*
This class represents red error text 
*/
.error-text {
	color: red;
}

/*
A class that pads on x and y axis a box with fields in it to make them appear more aesthetically pleasing
*/
.padded-fields-box {
	padding: 1rem !important;
}

/*
Add this class to render \n as line breaks
*/
.render-new-lines {
	white-space: pre-line;
}

/**
Sets the standard height for the app's containers
*/
.app-height {
	height: 80vh !important;
}

/**
Displays an underline and pointer cursor when hovered over
*/
.hover-underline:hover {
	cursor: pointer;
	text-decoration: underline;
}

/**
1 % margin to the left
*/
.margin-left-1 {
	margin-left: 1%;
}

/**
Spacing between questions
*/
.question-spacing {
	margin-bottom: 1.5%;
}

/**
Class for indicating a field requires input
*/
.required-indicator {
	font-size: 16px;
	margin-right: 0.5%;
}