<div>
  <div>
    <div class="card shadow text-center my-2 p-2">
      <div class="mb-2">
        <h3>{{template?.name}}</h3>
      </div>
      <div class="mb-2">
        <p style="color: grey;" class="render-new-lines">{{template?.description}}</p>
      </div>
      <div class="mb-2">
        <p><b>Version:</b> {{template?.version}}</p>
      </div>
      <div *ngIf="viewingUser?.applicant && getRequiredText() as requiredText" class="text-end required-indicator">
        <p><span style="color: red;">*</span> {{requiredText}}</p>
      </div>
    </div>
    <div [id]="template?.id + '-components'">
      <form [formGroup]="form">
        <!-- The parent component host that will hold all components -->
        <ng-template componentHost></ng-template>
      </form>
    </div>
  </div>
</div>
