<div>
  <app-navbar></app-navbar>
  <div class="container my-5">
    <div class="card text-center my-2">
      <div class="mb-2">
        <h3>{{template?.name}}</h3>
      </div>
      <div class="mb-2">
        <p style="color: lightgrey">{{template?.description}}</p>
      </div>
      <div class="mb-2">
        <p><b>Version:</b> {{template?.version}}</p>
      </div>
    </div>
    <div [id]="template?.id + '-components'">
      <form [formGroup]="form">
        <!-- The parent component host that will hold all components -->
        <ng-template componentHost></ng-template>
        <div class="card px-3 py-2">
          <div class="text-right">
            <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
