<div class="form-group" [id]="questionComponent?.componentId" [formGroup]="form" *ngIf="display()">
    <app-refer-marker [viewingUser]="template?.viewingUser" [application]="application" [component]="this"></app-refer-marker>
    <div *ngIf="edit(); else notEdit">
        <label>{{questionComponent?.title}}</label>
        <div class="form-text render-new-lines">{{questionComponent?.description}}</div>
        <select [multiple]="questionComponent?.multiple" [name]="questionComponent?.name" [formControlName]="questionComponent?.name" 
        (change)="onChange($event)" class="form-select">
            <option *ngIf="!questionComponent?.multiple" selected></option>
            <option *ngFor="let option of questionComponent?.options" [value]="option.value">{{option.label}}</option>
        </select>
        <div *ngIf="control?.errors">
            <app-field-error [condition]="control.errors?.['required']" [message]="'You must select an option'"></app-field-error>
        </div>
    </div>
    <ng-template #notEdit>
        <app-answer-view *ngIf="displayAnswer()"
            [question]="questionComponent" [answer]="application?.answers?.[questionComponent?.componentId]"></app-answer-view>
    </ng-template>
    <app-comments-display [application]="application" [component]="this" [viewingUser]="template?.viewingUser"></app-comments-display>
</div>
