<div>
  <app-navbar [hideLinks]="true"></app-navbar>
  <div class="container" [appCenterBox]>
    <app-center-header [text]="'Create User Profile'"></app-center-header>
    <div class="card ul-white-background shadow w-50 padded-fields-box">
      <form [formGroup]="form">
        <div class="form-group">
          <label>Name:</label>
          <input name="name" type="text" class="form-control" formControlName="name">
          <app-field-error [condition]="name.errors?.['required'] && name.touched" [error]="'Name is required'"></app-field-error>
          <div class="form-text">
            Enter your full name
          </div>
        </div>
        <div class="form-group">
          <label>Department:</label>
          <input name="department" type="text" class="form-control" formControlName="department">
          <app-field-error [condition]="department.errors?.['required'] && department.touched" [error]="'Department is required'"></app-field-error>
          <div class="form-text">
            The department where you are based in, for example, Computer Science and Information Systems
          </div>
        </div>
        <app-alert *ngIf="error" [alertType]="'alert-danger'" [dismissible]="true" [message]="error"></app-alert>
        <div class="text-end">
          <button type="button" (click)="create()" class="btn btn-primary w-25" style="margin-left: 3%" [disabled]="!form.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>